body{font-size:12px; font-family: Arial,"微软雅黑";background:#fff;margin:0;padding:0;color:#333;line-height:22px;}
ul,li,p{ list-style:none;margin:0;padding:0;}
a{ text-decoration:none;color:#333;}
img{border:none;}
.clear{clear:both;}
.width{width:1205px;}
.width1{width:960px;}
.left{float:left;}
.right{float:right;}
.center{margin-left:auto;margin-right:auto;}


.top{width:100%;height:35px;background:#f3f3f3;}
.top .title{height:35px;line-height:35px;width:1205px;}
.top .title a{color:#21a557;}
.top .title .close{float:right;}

.header{width:100%;}
.header .head{height:22px;margin-top:30px;width:1205px;}
.header .head .attention{line-height:22px;margin-left:26px;}
.header .head .attention a{background:#21a557;color:#fff;padding:3px 10px; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;}
.header .head .attention a:hover{background:#2fb556;}
.header .head .cancel{border:1px solid #efefef;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;color:#ccc;display:none;margin-left:26px;}
.header .head .cancel span{color:#333;padding-left:5px;}
.header .head .cancel a{color:#999;padding-right:5px;}
.header .head .cancel a:hover{color:#21a557; text-decoration:underline;}
.header .head ul.nav{padding-top:5px;margin-right:65px;}
.header .head ul.nav li{float:left;margin-left:50px;font-size:16px;}
.header .head ul.nav li a:hover{color:#39a030;}
.header .head .search{margin-top:-5px;}
.header .head .search a{display: block;width:39px;height:22px;background: url(img/search.jpg);background-position: 0 44px;}
.header .head .search a:hover{background-position: 0 22px;}

.header .banner{width:100%;/*height:460px;*/margin-top:37px;margin-bottom:60px; overflow:hidden;}
.header .banner img{width:100%;height:460px;}


.main{width:100%;}
.main .main1{/*height:180px;*/height:auto;min-height:180px;width:1205px;}
.main .main1 ul{}
.main .main1 ul li{float:left;width:348px;margin-right:80px;}
.main .main1 ul li.li1{width:275px;margin-right:67px;}
.main .main1 ul li.last{margin-right:0;}
.main .main1 ul li .img{float:left;margin-top:5px;}
.main .main1 ul li.li1 .text{width:178px;}
.main .main1 ul li .text{width:245px;float:right;}
.main .main1 ul li .text .title{font-size:20px;}
.main .main1 ul li .text .des{height:120px;margin-top:15px;font-size: 14px;line-height: 22px;color: #666;letter-spacing: 1px;}
.main .main1 ul li .text .more{font-size:14px;}
.main .main1 ul li .text .more a{color:#39a030;}
.main .main1 ul li .text .more a:hover{ text-decoration:underline;}


.main .main2{height:220px;margin-top:35px;text-align:center;}
.main .main2 ul{}
.main .main2 ul li{float:left;margin-right:3px;}
.main .main2 ul li.last{margin-right:0;}
.main .main2 ul li#li1,.main .main2 ul li#li2{ overflow:hidden;}



.main .main3{padding-top:80px;width:100%;background:#f8f8f8;padding-bottom:120px;}
.main .main3 .main31{width:1205px;}
.main .main3 .main31 .main3_l{width:958px;}
.main .main3 .main31 .main3_l.w{width:714px;}
.main .main3 .main31 .main3_l .nav{height:50px;}
.main .main3 .main31 .main3_l .nav ul{}
.main .main3 .main31 .main3_l .nav ul li{float:left;height:50px;background:#fff;width:200px;text-align:center;-webkit-box-shadow: 1px 1px 1px #d4d3d3;  
  -moz-box-shadow: 1px 1px 1px #d4d3d3;  
  box-shadow: 1px 1px 1px #d4d3d3;margin-right: 1px; }
.main .main3 .main31 .main3_l .nav ul li:hover{background:#39a030;}
.main .main3 .main31 .main3_l .nav ul li:hover a{color:#fff;}
.main .main3 .main31 .main3_l .nav ul li.current{background:#39a030;}
.main .main3 .main31 .main3_l .nav ul li.current a{color:#fff;}
.main .main3 .main31 .main3_l .nav ul li a{display:inline-block;line-height:50px;font-size:18px;}
.main .main3 .main31 .main3_l .cont{margin-top:30px;}
.main .main3 .main31 .main3_l .cont ul{}
.main .main3 .main31 .main3_l .cont ul li{float:left;width:224px;height:226px;border:1px solid #e6e6e6;background:#fff;margin-right:18px;margin-bottom:20px;/*overflow:hidden;*/}
.main .main3 .main31 .main3_l .cont ul li a img{height:124px;box-shadow: 0 0 10px #aaa;}
.main .main3 .main31 .main3_l .cont ul li a:hover img{box-shadow: 0 0 10px #7C7878;}
.main .main3 .main31 .main3_l .cont ul li a.a1{display: block;text-align: center;width:224px;height: 124px;}
.main .main3 .main31 .main3_l .cont ul li.li1{margin-right:0;}
.main .main3 .main31 .main3_l .cont ul li .title{margin-left:5px;line-height:30px;}
.main .main3 .main31 .main3_l .cont ul li .title a:hover{color:#39a030;}
.main .main3 .main31 .main3_l .cont ul li .tit{margin-left:5px;display:block;color:#b3b3b3;margin-bottom:5px;}
.main .main3 .main31 .main3_l .cont ul li .num1{margin-left:5px;display:block;min-width:40px;width:auto;max-width:55px;height:15px;line-height:15px;border:1px solid #ddd;color:#999;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;margin-top:5px;margin-bottom:5px;}
.main .main3 .main31 .main3_l .cont ul li .num1 img{margin-left:3px;margin-right:3px;margin-top:3px;float:left;}
.main .main3 .main31 .main3_l .cont ul li .num1 span{display:block;float:left}
.main .main3 .main31 .main3_l .cont ul li .price{margin-left:5px;display:block;color:#ff3f00;margin-top:5px;margin-bottom:5px;font-weight:bold;}

.page{height:20px;text-align:right;}
.page a{display:inline-block;width:20px;line-height:20px;text-align:center;margin-left:10px;font-size:14px;}
.page a:hover{background:#9dd8b1;color:#fff;}
.page a.cur{color:#39a030;}
.page .pre,.page .next{width:30px;background:#9dd8b1;color:#fff;font-weight: bold;}
.page .pre:hover,.page .next:hover{color:#fff;}

.main .main3 .main31 .main3_r{width:225px;}
.main .main3 .main31 .main3_r .agent{height:230px;border-left:1px solid #ecebeb;border-bottom:1px solid #ecebeb;border-right:1px solid #ecebeb;box-shadow: 0 1px 1px #ecebeb;}
.main .main3 .main31 .main3_r .agent .title{height:55px;border-bottom:1px solid #ecebeb;font-size:16px;line-height:55px;padding-left:23px;}
.main .main3 .main31 .main3_r .agent .cont{width:180px;margin:0 auto;}
.main .main3 .main31 .main3_r .agent .cont .tit{line-height:35px;font-size:14px;color:#666;margin-top:10px;}

.main .main3 .main31 .main3_r .hot{margin-top:20px;height:778px;border-left:1px solid #ecebeb;border-bottom:1px solid #ecebeb;border-right:1px solid #ecebeb;box-shadow: 0 1px 1px #ecebeb;}
.main .main3 .main31 .main3_r .hot .title{height:55px;border-bottom:1px solid #eee;font-size:16px;line-height:55px;padding-left:23px;}
.main .main3 .main31 .main3_r .hot .list{width:180px;margin:0 auto;}
.main .main3 .main31 .main3_r .hot .list ul{}
.main .main3 .main31 .main3_r .hot .list ul li{height:50px;margin-top:20px;}
.main .main3 .main31 .main3_r .hot .list ul li .img{margin-right:10px;width:50px;overflow:hidden;}
.main .main3 .main31 .main3_r .hot .list ul li .img img{height:50px;}
.main .main3 .main31 .main3_r .hot .list ul li .des{width:120px;}
.main .main3 .main31 .main3_r .hot .list ul li .des .tit{font-size:13px;line-height:15px;}
.main .main3 .main31 .main3_r .hot .list ul li .des .num{line-height:30px;}
.main .main3 .main31 .main3_r .hot .list ul li .des .num img{display:inline-block;float:left;margin-top:10px;margin-right:5px;}
.main .main3 .main31 .main3_r .hot .list ul li .des .num span{display:inline-block;float:left;color:#999;}

.footer{height:262px;background:#2c3339;}
.foot{color:#abadb0;width:1205px;}
.foot .info{width:420px;margin-left:50px;margin-top:93px;}
.foot .info .logo{margin-bottom:20px;}
.foot .info p{font-size:13px;line-height:25px;}
.foot .common{padding-top:80px;}
.foot .common a{color:#abadb0;font-size:15px;}
.foot .common a:hover{ text-decoration:underline;}
.foot .link,.foot .about{margin-right:90px;}
.foot .common li{line-height:30px;}
.foot .common .title{line-height:30px;}

#windowlay{width:100%;height:100%;position:fixed;z-index:10;background:url(img/bg.png);top:0;display:none;}
#log{width:388px;height:289px;position:fixed;z-index:11;top:20%;left:35%;background:#fff;}
#log .close{margin-top:5px;text-align:right;margin-right:5px;}
#log .login{width:295px;margin:0 auto;}
#log .login h2{color:#444;margin:0;padding-top:10px;padding-bottom:20px;}
#log .login .input{width:293px;height:43px;line-height:43px;border:1px solid #dfdfdf;margin-bottom:15px;}
#log .login .input input{color:#ccc;line-height:20px;border:none; outline:0;margin-left:12px;width:265px;font-size:14px;margin-top:10px;background:none;}
#log .login .btn{padding-top:15px;}


/*视频浮层*/
#vodio{position: fixed;z-index:10;top:100px;left:22%;display: none;}
#vodio .close{position:absolute;top:-8px;right:-8px;z-index:11;}


/*产品设计和编辑语言详情*/
.detail1{position:relative;width:475px;height:250px;z-index: 10;background: #f8f8f8;border: 1px solid #ddd;top:-230px;color:#636363;display: none;}
.detail1 .detail{width:430px;height:215px;margin-left:20px;margin-top:15px;}
.detail1 .detail .top{height:124px;background: none;}
.detail1 .detail .top .img{float:left;width:224px;height:124px;overflow: hidden;margin-right: 20px;}
.detail1 .detail .top .img img{height:124px;}
.detail1 .detail .top .des{float:left;width:186px;}
.detail1 .detail .top .des .title{font-size: 17px;color:#323232;line-height: 20px;}
.detail1 .detail .top .des .num{margin-bottom:5px;}
.detail1 .detail .bot{height:50px;margin-top:35px;}
.detail1 .detail .bot p{line-height: 25px;font-size: 14px;}

#box_pic {
  position:relative;
  width:100%;
  height:460px;
  /*background:#fff;
  border-radius:5px;
  border:8px solid #fff;
  /*margin:10px auto;*/
  cursor:pointer;
  margin:0 auto:
  overflow:hidden;
}
#box_pic #list {
  position:relative;
  width:100%;
  height:460px;

}
/*#box_pic .list ul {*/
  /*position:absolute;*/
  /*top:0;*/
  /*left:0;*/
    /*width:100%;*/
/*}*/
#box_pic #list li {
  width:100%;
  height:460px;
  top:0px;
  left:0px;
  position: absolute;
  overflow:hidden;
  filter:alpha(opacity:0);opacity:0;
}
#box_pic .count {
  position:absolute;
  right:0;
  bottom:5px;
}
#box_pic .count li {
  color:#fff;
  float:left;
  width:20px;
  height:20px;
  cursor:pointer;
  margin-right:5px;
  overflow:hidden;
  background:#F90;
  opacity:0.7;
  filter:alpha(opacity=70);
  border-radius:20px;

}
#box_pic .count li.current {
  color:#fff;
  opacity:1;
  filter:alpha(opacity=100);
  font-weight:700;
  background:#f60;

}
#tFocusBtn{width:100%;height:50px;position:absolute;bottom:0px;z-index:20;overflow:hidden;text-align: center;}
#tFocus-btn{width:100%;height:50px;position:relative;left:0;bottom:0;overflow:hidden;float:left;}
#tFocus-btn ul{;position:absolute;left:45%;bottom:0;width:100%;}
#tFocus-btn li{width:20px;height:20px;border-radius:20px;background:#333;float:left;margin:0 7px;cursor:pointer;overflow:hidden;display:inline;}
#tFocus-btn li.active{  color:#fff;
  opacity:1;
  filter:alpha(opacity=100);
  font-weight:700;
  background:#999;}